openai-whisper==20250625
sounddevice==0.5.5
numpy==1.26.4
requests==2.32.5
torch==2.5.0
webrtcvad==2.0.10
soundfile==0.13.1
speechbrain==1.0.3
scipy==1.15.3
gTTS==2.5.4
more-itertools==10.8.0
numba==0.63.1
tiktoken==0.12.0
tqdm==4.67.3
triton==3.1.0
llvmlite==0.46.0
typing_extensions==4.15.0
filelock==3.20.3
fsspec==2026.2.0
jinja2==3.1.6
networkx==3.4.2
sympy==1.13.1
